/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
 
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 600px;
 
  background-image:
  url('https://static.wixstatic.com/media/b62bfa_94aaf971badf48afa7ff8645b41d0c4e~mv2_d_3899_2619_s_4_2.jpg/v1/fill/w_560,h_376,al_c,q_80,usm_0.66_1.00_0.01/b62bfa_94aaf971badf48afa7ff8645b41d0c4e~mv2_d_3899_2619_s_4_2.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% ;
  /*height: 100%; */
  /*min-height: 100%;*/
}


/* Padding for spacing */
.inner {
  padding: 30px;
}




/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}
